#tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
}